body {
    font-family: sans-serif;
    color: #E0DD3F;
}

header{
    text-align: center;
}
span {
    background-color: #20E620;
    color: black;
    padding: 5px;
    border: 5px solid blue;
    border-radius: 5px;
} 

section{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    margin-top: 10px;
}
div{
    border: 1px solid rgb(red, green, blue);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}